#btn-return-dash {
  margin-right: 1rem;
}

#edit-form {
  width: 400px;
}

.form-control {
  width: 100%;
}

#new-title {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  margin: 1rem 0;
  font-size: 1.4rem;
}

#new-body {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.btn.edit-btn {
  width: 100%;
  height: 50px;
  background-color: #0275d8;
}
